<div class='header'>
  <%= link_to root_path, class: 'back-btn' do %>
    <i class="fas fa-arrow-left"></i>
  <% end%>
  <h2 class='heading-form'>Details</h2>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'sign-out' %>
</div>

<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<div class='details'>
  <div class='group-detail-summary'>
    <%= image_tag @group.icon, class: 'icon' %>
    <div class='header-detail'>
      <span class='group-name'><%= @group.name %> </span>
      <strong> $<%= total(@dealings) %></strong>
    </div>
    <%= button_to user_group_path(current_user, @group), method: :delete, class: 'trash' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 trash-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
      </svg>
    <% end %>
  </div>
  <hr />
  <div class='transactions'>
    <% if @dealings.size > 0 %>
      <ul class='dealings'>
        <% @dealings.each do |dealing| %>
          <li>
            <h4 class='detail-heading'><%= dealing.name %></h4>
            <div class='calendar'>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
                <path strokeLinecap="round" strokeLinejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
              </svg>
              <span><%= dealing.created_at.strftime('%d %b %Y' ) %> at <%= dealing.created_at.strftime('%I:%M%p' ) %></span>
            </div>
          </li>
          <hr />
        <% end %>
      </ul>
    <% else %>
      <div class='notification'>
        <p>No dealings recorded!</p>
      </div>
    <% end %>
  </div>
</div>

<div>
  <%= link_to "Edit this group", edit_user_group_path(current_user, @group) %>
  <%= button_to "New Dealing",  new_user_group_dealing_path(current_user, @group), method: :get, class: 'new-dealing' %>
</div>
