<div class='form-container'>
  <%= form_with(model: dealing, url: user_group_dealings_path(current_user, params[:group_id])) do |form| %>
    <% if dealing.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(dealing.errors.count, "error") %> prohibited this dealing from being saved:</h2>

        <ul>
          <% dealing.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='inputs'>
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: 'Name' %>
    </div>

    <div class='inputs'>
      <%= form.label :amount %>
      <%= form.text_field :amount, placeholder: 'Amount' %>
    </div>

    <div class='actions'>
      <%= form.submit %>
    </div>
  <% end %>
</div>